<div class="logo"><h1><a href="/admin" style="text-decoration:none;color:black;"><span style="color:black;">소나무부동산 관리자페이지</span></a></h1></div>
<nav>
    <ul class="navbar" >
        <li><a href="/register" style="text-decoration:none;color:white;">매물등록</a></li>
        <li><a href="/manage" style="text-decoration:none;color:white;">매물관리</a></li>
        <li><a href="/stats" style="text-decoration:none;color:white;">통계</a></li>
    </ul>
</nav>


<style>
    .navbar{
        display:flex;
        padding: 10px;        
    }

    nav{
        background-color: #5383E8;
    }

    li {
        list-style:none;
        margin-right: 30px;
    }
</style>