<style>
    P {
        font-size: 18px;
        font-weight: bold;
    }
</style>

<P>&nbsp;</P>
<P><SPAN style="COLOR: #ff0000">&#8203;<SPAN style="COLOR: #000000">3.6억 ---> 3.2억--.2.95억</SPAN></SPAN></P>
<P><SPAN style="COLOR: #000000">&#8203;</SPAN></P>
<P><SPAN style="COLOR: #ff0000">대&nbsp;</SPAN><SPAN style="COLOR: #ff0000">183.6평</SPAN></P>
<P>&nbsp;</P>
<P>굉장히 한적한 지방도 접한 주택 입니다.</P>
<P>&nbsp;</P>
<P>단열에 무엇보다 신경 쓴 집으로 내부 편백, 참죽나무 향이 좋습니다.</P>
<P>&nbsp;</P>
<P>마당 경계 마당관리 깔끔히 되어있습니다.</P>
<P>&nbsp;</P>
<P>
<TABLE style="FONT-FAMILY: 돋움, Arial, verdana" cellSpacing=0 cellPadding=2 width="100%" border=1>
<TBODY>
<TR>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><STRONG>구&nbsp; 분</STRONG></P></TD>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><STRONG>&nbsp;방</STRONG></P></TD>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><STRONG>&nbsp;거&nbsp; 실</STRONG></P></TD>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><STRONG>&nbsp;주&nbsp; 방</STRONG></P></TD>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><STRONG>&nbsp;욕&nbsp; 실</STRONG></P></TD></TR>
<TR>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><STRONG>&nbsp;1층</STRONG><STRONG>( 28.9평)</STRONG></P></TD>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><B>2</B></P></TD>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><STRONG>1中</STRONG></P></TD>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><STRONG>1中</STRONG></P></TD>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><STRONG>1</STRONG></P></TD></TR>
<TR>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><STRONG>2층대장外</STRONG><STRONG>(약10.1평)</STRONG></P></TD>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><B>2</B></P></TD>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><STRONG>&nbsp;X</STRONG></P></TD>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><B>X</B></P></TD>
<TD style="FONT-SIZE: 9pt; FONT-FAMILY: 돋움, Arial, verdana; COLOR: rgb(51,51,51); LINE-HEIGHT: 21px" width="20%">
<P style="FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, 굴림; COLOR: rgb(34,34,34)" align=center><STRONG>X</STRONG></P></TD></TR></TBODY></TABLE>
<P>&nbsp;</P>
<P>&nbsp;</P>
<P>양동역 6.9km / 용문역 20km</P>
<P>&nbsp;</P>