<style>
    h5 {
        margin: 3px 0px;
    }

    .footerlink {
        text-decoration: none;
        color: #666;
    }

    #information {
        cursor:pointer;
        font-weight: bolder;
        display: inline-block;
    }

    .hiddenLogin {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        display:none;
    }

    #details{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        display:none;
        margin-top: 10px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .logoitem2 {
        display:flex;
        width:900px;
        margin: 0 auto;
        margin-top:40px;
    }

    .logoimage {
        width: 150px;
        height:60px;
        border: 1px solid #e5e5e5;
    }
</style>
<div style="text-align:center; margin-top:40px;">
<h5 style="font-size:11px;font-weight:bold;margin-bottom:20px;"><a class="footerlink" href="/about">회사소개</a> / <a class="footerlink" href="/location">오시는길</a> / <a class="footerlink" href="/tos">이용약관</a> / <a class="footerlink" href="/privacy">개인정보취급방침</a> / <a class="footerlink" href="/responsibility">책임의한계</a></h5>    
<h5>주소 : 경기도 양평군 강하면 강남로 354 (전수리555-8)</h5>
<h5>대표 : 최기혁 | 부동산등록번호 : 41830-2016-00045</h5>
<h5>사업자등록번호 : 846-38-00205 | 이메일 : rebchjs@naver.com</h5>
<h5>대표번호 : 031-773-5900 | 팩스 : 031-773-5944</h5>
<h5><div id="information">관리자정보</div></h5>
</div>
<div class="hiddenLogin" id="hiddenLogin">
        <h3>관리자정보 로그인</h3>
        비밀번호 : 
        <input type="text" id="password">
        <input type="submit" id="submit" value="로그인">
    <div style="padding:10px;"></div>
</div>
<div id="details"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.getElementById('information').addEventListener('click',function(){
        console.log('hello');
        document.getElementById('hiddenLogin').style.display = "block";
    })

    document.getElementById('submit').addEventListener('click',function(){
        $.post('/footer',{
            password: document.getElementById('password').value,
            item: '<%= id %>'
        },function(data){
            document.getElementById('hiddenLogin').style.display = "none";
            document.getElementById('details').innerHTML = data;
            document.getElementById('details').style.display = "block";
        });
    })
</script>