<meta charset="utf-8" />
<title>소나무공인중개사사무소</title>
<meta
  name="description"
  content="양평부동산,전원주택,농가주택,펜션,토지,임야,급매물,전원주택지분양전문 "
/>
<meta
  name="keywords"
  content="양평부동산,양평전원주택,양평농가주택,양평펜션,양평토지,농지,양평임야,양평급매물,용문산,양평부동산추천,양평토지,전원주택단지,전원주택분양,경관,강이보이는,산자락,계곡,상가,양평부동산매물,양평토지분양,뷰,관리지역,쉬자파크,부동산마트,양평부동산정보,노블레스,부동산인터체인지,길부동산,느리게걷기부동산,전원닷컴,서종면,양평읍,용문면,양평군,용문산,용문사"
/>
<meta
  name="naver-site-verification"
  content="cb6f426b921a1d493003172f9e5161e6c770f2b6"
/>
<script
  src="https://kit.fontawesome.com/6cf4a781c9.js"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" href="/css/sheets.css" type="text/css" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-28QBCYW3X3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-28QBCYW3X3');
</script>
