<div style="width:1200px;margin:auto;display:flex;flex-wrap:wrap;margin-bottom:3px;padding-top:20px;">
<div style="width:400px;padding-top:11px;">
<a href="https://cafe.naver.com/62food"><img style="width:50px;margin-right:3px;" src="assets/cafe_logo.png"></a>
<a href="https://blog.naver.com/rebchjs"><img style="width:50px;margin-right:3px;" src="assets/blog_logo.png"></a>
<a href="https://www.youtube.com/user/7735900?sub_confirmation=1"><img style="width:50px;" src="assets/youtube_logo.png"></a>
</div>
<div style="margin-left:15px;">
    <a href="/"><img src="assets/top_logo_4.jpg"></a>
</div>
<div style="margin-left:237px;position:relative;top:-15px;">
    <img style="width:100%;" src="assets/3.PNG">
</div>
</div>
<div style="width:100%;min-width:1270px;border-bottom:1px solid black;"></div>