<style>
    .noticeContent{
        margin: 15px 0;
        margin-left: 3px;
    }
</style>

<div style="width:1200px;margin:auto;display:flex;margin-bottom:0px;">
<div style="width:400px;padding-top:31px;">
<a href="https://cafe.naver.com/62food"><img style="width:50px;margin-right:3px;" src="assets/cafe_logo.png"></a>
<a href="https://blog.naver.com/rebchjs"><img style="width:50px;margin-right:3px;" src="assets/blog_logo.png"></a>
<a href="https://www.youtube.com/user/7735900?sub_confirmation=1"><img style="width:50px;" src="assets/youtube_logo.png"></a>
</div>
<div style="margin-left:-30px;padding-top:20px;margin-bottom:15px;">
    <a href="/"><img src="assets/top_logo_4.jpg"></a>
</div>
<div style="margin-left:130px;">
    <img style="width:100%;" src="assets/notice.jpg">
    <div style="overflow:hidden;height:69px;border-top:1px solid black;border-left:1px solid black;border-right:1px solid black;">
        <div id="noticeSlider">
        <h5 class="noticeContent">▷ 양평전원주택 고급별장 토지 전문 소나무부동산입니다.</h5>
        <h5 class="noticeContent">▷ 경쟁력 있는 비공개 매물도 많사오니 부담없이 전화주십시오.</h5>
        <h5 class="noticeContent">▷ 매수 및 매도 의뢰 언제든 환영합니다.</h5>
        <h5 class="noticeContent">▷ 전문성을 갖춘 공인중개사가 직접 운영합니다.</h5>
        <h5 class="noticeContent">▷ 저희 소나무부동산은 연중무휴로 365일 운영합니다.</h5>
        <h5 class="noticeContent">▷ 서울~양평고속도로사업, 기획재정부 선정심사통과</h5>
        </div>
    </div>
</div>
</div>
<div style="width:100%;min-width:1270px;border-bottom:1px solid black;"></div>

<script>
    var slider = document.getElementById('noticeSlider');
    var silderElements = document.getElementsByClassName('noticeContent');
    var size2 = 0;
    if(window.navigator.userAgent.match(/(MSIE|Trident)/)){
        size2 = 29;
    }else{
        size2 = 27;
    }
    var counter2 = 0;
    setInterval(function(){
        console.log('hello');
        if(counter2 >= silderElements.length-2){
            slider.style.transition = 'none';
            counter2 = 0;
            slider.style.transform = "translateY(" + (-size2 * counter2) + 'px)';
            return;
        }
        slider.style.transition = 'transform 0.5s ease-in-out';
        counter2++;
        slider.style.transform = 'translateY(' + (-size2 * counter2) + 'px)';
    },5000)
</script>
