<div style="width:100%;margin:auto;margin-bottom:15px;padding-top:10px;">
<div style="margin:auto;text-align: center;">
    <a href="/m"><img style="width:83%;max-width:400px;" src="assets/top_logo_4.jpg"></a>
</div>
<div style="margin:auto;text-align: center;margin-top:10px;">
<a href="tel:031-773-5900"><img style="width:35px;margin-right:3px;" src="assets/phone.png"></a>
<a href="https://cafe.naver.com/62food"><img style="width:35px;margin-right:3px;" src="assets/cafe_logo.png"></a>
<a href="https://blog.naver.com/rebchjs"><img style="width:35px;margin-right:3px;" src="assets/blog_logo.png"></a>
<a href="https://www.youtube.com/user/7735900?sub_confirmation=1"><img style="width:35px;" src="assets/youtube_logo.png"></a>
</div>
<div style="margin-top:9px;text-align:center;">
<a href="/?option=pass"><div class="pc_button">PC버전으로 보기</div></a>
</div>
</div>