<style>
    .none{
        text-decoration: none;
    }
</style>

<div class="sidebar_category">
    <div class="sidebar_title">카테고리</div>
    <a class="none" href="/list?category=sidebar_house"><div class="sidebar_category_list">- 전원주택 / 별장 / 펜션</div></a>
    <a class="none" href="/list?category=sidebar_land"><div class="sidebar_category_list">- 토지 / 농막</div></a>
    <a class="none" href="/list?category=sidebar_consumer"><div class="sidebar_category_list">- 상가 / 음식점 / 모텔</div></a>
    <a class="none" href="/list?category=sidebar_rent"><div class="sidebar_category_list">- 전월세</div></a>
</div>
<div style="margin:auto;width:95%">
<div class="sidebar_qrcode">
    <div class="sidebar_qrcode_name">소나무부동산<br /> 모바일페이지 바로가기</div>
    <a href="/m"><img class="sidebar_qrcode_image" src="assets/qrcode.png"></a>
</div>
</div>