<style>
    .none{
        text-decoration: none;
    }
</style>

<div class="sidebar_category">
    <div class="sidebar_title">카테고리</div>
    <a class="none" href="/list?category=sidebar_house"><div class="sidebar_category_list">- 전원주택/별장/펜션</div></a>
    <a class="none" href="/list?category=sidebar_land"><div class="sidebar_category_list">- 토지/농막</div></a>
    <a class="none" href="/list?category=sidebar_consumer"><div class="sidebar_category_list">- 상가/모텔/빌딩</div></a>
    <a class="none" href="/list?category=sidebar_rent"><div class="sidebar_category_list">- 전월세</div></a>
    <a class="none" href="/list?category=sidebar_factory"><div class="sidebar_category_list">- 창고/공장</div></a>
    <a class="none" href="/list?category=sidebar_villa"><div style="border-bottom:none;padding-bottom:18px;" class="sidebar_category_list">- 아파트/빌라</div></a>
</div>
<div style="margin:auto;width:95%">
<img style="width:100%;margin-top:12px;margin-bottom:10px;" src="assets/l_cust.png">
<div class="sidebar_qrcode">
    <div class="sidebar_qrcode_name">소나무부동산<br /> 모바일페이지 바로가기</div>
    <a href="/m"><img class="sidebar_qrcode_image" src="assets/qrcode.png"></a>
</div>
<div class="sidebar_links">
    <div class="sidebar_link_name2">링크</div>
    <a href="http://www.molit.go.kr/portal.do"><img class="sidebar_link_image" src="assets/side1.png"></a>
    <a href="https://www.yp21.go.kr/www/index.do"><img class="sidebar_link_image" src="assets/side2.png"></a>
    <a href="http://www.iros.go.kr/PMainJ.jsp"><img class="sidebar_link_image" src="assets/side3.png"></a>
    <a href="https://www.gov.kr/portal/main"><img class="sidebar_link_image" src="assets/side4.png"></a>
    <a href="https://gris.gg.go.kr/main/grisMain.do"><img class="sidebar_link_image" src="assets/side5.png"></a>
    <a href="https://teht.hometax.go.kr/websquare/websquare.wq?w2xPath=/ui/rn/a/a/b/b/UTERNAAU62.xml"><img class="sidebar_link_image" src="assets/side6.png"></a>
</div>
</div>