<!DOCTYPE html>
<html>
  <head>
    <%- include('parts/header') %>
  </head>
  <body>
    <%- include('parts/logoarea', {notice: notice}) %>
    <div class="container">
      <div class="item_sidebar"><%- include('parts/sidebar') %></div>
      <div class="item_divider"></div>
      <div class="item_maincontent">
        <div class="section_name item_section">
          <span class="section_big">회사소개</span>
        </div>
        <div style="font-size:16px;margin-top:50px;">
          안녕하십니까?<br /><br /> [소나무공인중개사사무소]을 찾아주셔서 진심으로
          감사드립니다.<br /><br /> 저희 소나무공인중개사사무소은 정직과 신용을 최우선으로
          하며 고객의 귀중한 재산을 <br />내 재산처럼 소중히 여기어 고객의 재산증식을
          위해 최선을 다할 것을 약속드리겠습니다. <br /><br />저희 소나무공인중개사사무소은
          항상 연구하는 자세로 이러한 종합분석을 통하여 <br />고객 여러분의 만족도를
          높이는데 기여하겠습니다. <br /><br />고객님이 만족하실때까지 최선을 다해
          찾아드리겠습니다.<br /><br /> 언제든지 연락주시기 바랍니다. <br /><br /><span style="font-weight:bolder;">소나무공인중개사사무소
          임직원 일동</span><br /><br />
        </div>
      </div>
    </div>
    <footer><%- include('parts/footer') %></footer>
  </body>
</html>
