<!DOCTYPE html>
<html>
	<head>
		<%- include('parts/header') %>
	</head>
	<body>
		<%- include('parts/adminnavbar') %>
		<%= data %>님 좋은 하루입니다. 안녕하세요.
		<% if(data==='master') %>
			<a href="/user"><span style="font-size:18px;font-weight:bold;">직원관리</span></a>
		<footer>
			<%- include('parts/footer2') %>
		</footer>
	</body>
</html>
