<%- include('parts/header') %>
<form action="/lab" method="POST" enctype="multipart/form-data">
    <input type="file" id="uploadBox" name="uploadBox" multiple>
    <div class="uploadDiv">
        <div style="display:none;">0</div>
        <img class="singleImage" src="assets/empty.gif">
        <br />
        <button onclick="leftHandler(0)"><</button>
        <button onclick="rightHandler(0)">></button>
        <button onclick="deleteHandler(0)">삭제</button>
        <input type="file" style="display:none;" class="imageUpload" name="image">
    </div>
    <input type="submit">
</form>
<button onclick="onClick()">왼쪽으로 이동</button>

<div id="imagecontainer"></div>

<button onclick="addElement()">추가</button>

<script>
    // document.getElementById('uploadBox').addEventListener('change',function(){

    // });

    function insertAfter(referenceNode, newNode) {
      referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
    }

    // function onClick(){
    //     console.log('hello');
    //     insertAfter(document.getElementsByClassName('upload')[0],document.getElementsByClassName('upload')[2]);
    // }
    let imageCount = 0;
    function addElement(){
        var divv = document.createElement('div');
        divv.classList.add('uploadDiv');
        var div2 = document.createElement('div');
        div2.innerHTML = imageCount;
        div2.style.display = 'none';
        divv.appendChild(div2);
        var imagee = document.createElement('img');
        imagee.src = '/assets/empty.gif';
        imagee.classList.add('uploadImage');
        imagee.id = 'preview' + imageCount;
        divv.appendChild(imagee);
        divv.appendChild(document.createElement('br'));
        var leftButton = document.createElement('button');
        var rightButton = document.createElement('button');
        var deleteButton = document.createElement('button');
        leftButton.innerHTML = '<';
        leftButton.type = 'button';
        leftButton.style.marginRight = '5px';
        rightButton.style.marginRight = '5px';
        rightButton.innerHTML = '>';
        rightButton.type = 'button';
        deleteButton.innerHTML = '삭제';
        deleteButton.type = 'button';
        leftButton.addEventListener('click',function(){
            leftHandler(div2.innerHTML);
        });
        rightButton.addEventListener('click',function(){
            rightHandler(div2.innerHTML);
        })
        deleteButton.addEventListener('click',function(){
            deleteHandler(div2.innerHTML);
        })
        divv.appendChild(leftButton);
        divv.appendChild(rightButton);
        divv.appendChild(deleteButton);
        var fileInput = document.createElement('input');
		fileInput.type = 'file';
		fileInput.name = 'image';
		fileInput.id = 'file' + imageCount;
        fileInput.style.display = 'none';
        divv.appendChild(fileInput);
        document.getElementById('imagecontainer').appendChild(divv);
        imageCount++;
    }

    function leftHandler(index){
        console.log('leftHandler ' + index);
    }

    function rightHandler(index){
        console.log('rightHandler ' + index);
    }

    function deleteHandler(index){
        console.log('deleteHandler ' + index);
    }
</script>

<!-- 좌우, 삭제 버튼, 삭제하면 엘리먼트 자체가 삭제, 추가 업로드시 반영되도록 설정 -->