<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('parts/header') %>
</head>
<body>
    <%- include('parts/adminnavbar') %>
    <% for(let i = 0 ; i < notice.length ; i++) { %>
        <h5><%= notice[i].content %></h5>
    <% } %>
</body>
</html>