<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('parts/header') %>
</head>
<body>
    <%- include('parts/adminnavbar') %>
    <% for(let i = 0 ; i < notice.length ; i++) { %>
        <div class="originalInfo" style="display:none;"><%= notice[i].content %></div>
    <% } %>
</body>
</html>