<!DOCTYPE html>
<html>
  <head>
    <%- include('parts/header') %>
  </head>
  <body>
    <%- include('parts/logoarea') %>
    <div class="container">
      <div class="item_sidebar"><%- include('parts/sidebar') %></div>
      <div class="item_divider"></div>
      <div class="item_maincontent">
        <div class="section_name item_section">
          <span class="section_big">회사소개</span>
        </div>
        <div style="font-size:16px;margin-top:50px;">
          <p><span class="boldorange">1.개인 정보의 수집</span><br />
            <br />
            <span class="dbluebold">(1) 정보 수집의 목적과 이용 목적 </span><br />
            소나무공인중개사사무소(이하 `회사`라 칭함)에서는 회원님들에게 양질의 서비스를 하기 위하여 최소한의 개인정보를 수집하고 있습니다. 신용정보를 수집하는 목적은 이용자의 신분을 확인하고 이용자 개개인의 특성에 맞추어 보다 다양하고 광범위한 맞춤 서비스를 제공하도록 하기 위한 것입니다. 따라서 `회사`가 이용자에 대해 알고 있는 정보가 풍부하고 정확할수록 &lsquo;회사&rsquo;로부터 이용자들에게 더욱 적절하고 유용한 서비스를 제공받으실 수 있습니다.</p>
            <p>&nbsp;</p>
            <p><span class="dbluebold">(2) 수집하는 개인 정보의 범위 및 항목 </span><br />
            ① 개인정보 수집 범위<br />
            `회사`는 적법하고 공정한 수단에 의하여 본 서비스 계약의 성립 및 이행에 필요한 최소한의 개인정보만을 수집하며, 인종 및 민족, 사상 및 신조, 출신지 및 본적지, 정치적 성향 및 범죄기록, 건강상태 및 성생활 등 이용자의 기본적 인권을 현저하게 침해할 우려가 있는 개인정보는 이용자의 동의가 있거나 법률에 규정한 경우가 아니고는 수집하지 아니합니다.<br />
            ② 항목<br />
            `회사`가 서비스를 위하여 수집하는 정보는 회원 등록시에 요청하는 이름, 주민등록번호, 연락처, E-mail주소 등과 같은 것들이 있습니다.</p>
            <p>&nbsp;</p>
            <p><span class="dbluebold">(3) 수집 방법 </span><br />
            ① 이용자가 회원으로 가입할 때는 본인 여부 확인을 위하여, 개인의 이름, 주민등록번호 등의 정보를 제공받도록 요청받게 됩니다.<br />
            ② 회원 등록을 하는 경우 이외에도 다음과 같은 경우에는 개인 정보를 요구할 수 있습니다. <br />
            ③ 이용자가 `회사`나 협력사가 개최하는 각종 퀴즈, 경품 이벤트나 공모전 등과 같은 각종 프로모션 행사에 참여할 때, `회사`를 통하여 물건을 구매할 때나 여행 상품을 예약할 때, 구인구직 정보 게재, 게시판에 게시물 게재 등과 같이 서비스 이용을 위하여 정보 공개가 필요한 경우들이 그렇습니다. <br />
            ④ 이렇게 정보를 필요로 하는 때에는 이용자에게 정보 공개를 위한 허락을 받는 과정을 다시 한번 거치게 됩니다. 또한, `회사`와 직접 연락을 취하는 경우에도 개인 정보를 요구할 수 있습니다.<br />
            ⑤ `회사`의 서비스 개선이나 연구를 위하여 설문조사를 실시하는 경우에도 개인 정보를 수집할 수 있습니다. 이런 경우에는 `개인정보 보호 정책` 페이지를 링크하여 이용자들이 반드시 `회사`의 개인정보 보호 정책을 이해하고 참여할 수 있도록 하였습니다.<br />
            ⑥ 특히, 만14세 미만의 아동들의 경우는 온라인으로 개인 정보를 보낼 때, 꼭 부모님이나 법정 대리인으로부터 허락을 얻어야 합니다.<br />
            ⑦ `회사`는 만 14세 미만 회원의 정보에 대해서는 제3자와 공유하거나 판매, 대여하지 않습니다. 또한, 14세 미만의 아동에게는 개인이 원하든 원치 않던 메일 등을 통한 직접적인 연락은 취하지 않습니다. <br />
            (4) 이용자의 동의절차와 그 예외<br />
            `회사`는 이용자의 개인정보를 수집하는 경우에 당해 이용자의 서명날인, 전자서명, 전자우편, 동의함에 클릭하는 등의 이용자의 동의를 얻는 절차를 거칩니다. 단, 다음 각호에 해당하는 경우에는 예외로 합니다. <br />
            ① 정보통신망이용 촉진 등에 관한 법률 또는 기타 다른 법령 등에 특별한 규정이 있는 경우<br />
            ② 서비스 이용계약의 이행을 위하여 필요한 경우<br />
            ③ 서비스 제공에 따른 요금정산을 위하여 필요한 경우 <br />
            (5) 개인정보의 위탁처리<br />
            `회사`가 개인정보 처리를 외부에 위탁하는 경우에는 이용자의 동의를 받아야 하고 `회사`의 개인정보보호정책을 준수할 수 있는 자를 수탁자로 선정하여야 하며 위탁계약 등을 통하여 서비스제공자의 개인정보보호 관련 지시엄수, 개인정보에 관한 비밀유지, 제3자 제공의 금지 및 사고시의 책임부담 등을 명확히 규정하고 당해 계약내용을 서면 또는 전자적 기록으로 보존하여야 합니다.</p>
            <p><span class="boldorange">2. 개인 정보보호 관리</span><br />
            <br />
            이용자의 ID와 비밀번호에 대한 보안책임 및 관리책임은 이용자에게 있으며 제3자에게 위 로그인 정보가 유출되지 않도록 항상 주의를 기울이시기 바랍니다. `회사`는 절대 불필요한 전화나 e-mail로 이용자의 비밀번호를 묻거나 하지 않습니다. <br />
            <span class="dbluebold"><br />
            (1) 개인정보에 대한 사항</span><br />
            `회사`는 이용자의 개인정보를 취급할 수 있는 자를 가능한 한 최소한의 인원으로 제한하고 있습니다.</p>
            <p><span class="dbluebold">(2) 개인정보를 제3자에게 제공하는 경우</span><br />
            ① `회사`는 본 개인정보보호정책에서 고지 또는 명시한 범위를 초과하여 이용자의 개인정보를 이용하거나 제3자에게 제공하지 않습니다. 다만, 다음 각호에 해당하는 경우에는 예외로 합니다. <br />
            ㄱ. 금융실명거래및비밀보장에관한법률, 신용정보의이용및보호에관한법률, 전기통신사업법, 지방세법, 소비자보호법, 한국은행법, 형사소송법 및 기타 관계법령 등에 특별한 규정이 있는 경우<br />
            ㄴ. 서비스 제공에 따른 요금정산을 위하여 필요한 경우<br />
            ㄷ. 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우 <br />
            ㄹ. 만약, `회사&lsquo;가 위(1)에도 불구하고, 본 정책에서 고지 또는 명시한 범위를 초과하여 이용자의 개인정보를 이용하거나 제3자에게 제공하고자 하는 경우에는 당해 이용자에게 개별적으로 서면이나 전자우편 등의 통지를 이용하여 동의를 받고 있으며, 이 경우 각 이용자는 고지 또는 명시한 범위를 초과하여 이용하거나 제3자에게 제공하는 것을 거절할 수 있음도 아울러 통지하고 있습니다. <br />
            ② 개인정보를 제공받는 자 <br />
            ㄱ. `회사&lsquo;는 이용자의 개인 정보를 공개하지 않습니다. 다만, 본인이 허락한 경우, 법에 의하여 요구된다고 선의로 판단되는 등과 같은 특별한 사정이 있을 경우는 예외입니다. 또 아래 이용자 정보가 공개될 수 있다고 명시한 경우에도 예외로 합니다. <br />
            ㄴ. `회사` 업무 제휴 파트너 및 부가서비스 정보 제공자 <br />
            ㄷ. `회사`와 업무상 제휴를 한 제휴 파트너나 부가서비스로 정보를 제공하는 정보자와는 `회사`의 이용자 정보를 공유할 수 있습니다. <br />
            ㄹ. 개인 정보 수집은 반드시 이용자 개인의 허락을 얻은 후에 진행됩니다. <br />
            ㅁ. 정보 제공자들이 `회사`와는 관계없이 이용자들에게 정보를 제공할 목적으로 발송되는 메일을 수신하시려면, 직접 이 서비스에 가입하여 정보를 제공하시거나 이용자들의 허가를 통하여 `회사`가 해당 파트너 측에 이용자 이름과 전자 우편 주소를 제공하거나 메일 수신을 원하는 이용자들에게 `회사`에서 메일을 발송할 수 있습니다. <br />
            ㅂ. `회사` 후원사 <br />
            ㅅ. `회사`는 이용자 개인정보를 `회사` 후원사에게 공개할 수 있으나, 데이터 공개 과정 이전에 반드시 이용자에게 이 사항을 공지하고 허락을 얻어야 합니다. 이를 통하여 수집된 정보는 전부 혹은 일부를 파트너들과 공유할 수 있습니다. 이용자 개인 정보가 공유되는 경우에는 정보 수집 또는 전송 전에 귀하에게 미리 알려드립니다. 각종 프로모션 행사에서는 행사 주관사나 후원사들이 이용자에 관한 추가 정보를 요청하기도 합니다. 추가 정보를 요구함으로써 귀하는 후원사들이 귀하의 요청을 이행할 수 있도록 귀하의 개인정보를 후원사들에게 전송하도록 허락하게 됩니다. 많은 경우에 있어서 귀하의 전자우편 주소만이 공개됩니다. 그 이상의 정보를 후원사와 공유하게 될 경우 그러한 전송 전에 귀하에게 미리 알려드릴 것입니다.<br />
            <br />
            <span class="dbluebold">(3) 제3자 데이터 및 집계 데이터</span><br />
            비밀유지계약에 따라 `회사`는 사용자 정보를 제3자 데이터와 비교할 수도 있습니다. 또한, `회사`는 앞으로 파트너가 될 가능성이 있거나 광고주, 기타 제3자에게, 그리고 기타 합법적인 목적을 위하여, `회사` 서비스를 설명하는 목적으로 집계된 사용자 통계치(예를 들어, 이용자 30%가 서울 거주) 등의 정보를 공개합니다.</p>
            <p><span class="dbluebold">(4) 그 밖의 경우</span><br />
            `회사`는 서비스 이용 약관을 위배한 사람이나 `회사`의 권한 또는 자산, 다른 `회사` 이용자 및 의도적이든 그렇지 않든 사람들에게 피해를 줄 수 있는 자를 식별하거나 연락을 취해야 할 경우 혹은 그들의 행동에 응당하는 법적 조치를 취하기 위하여 반드시 정보를 공개해야 한다는 충분한 근거가 있는 경우에 한해, 회원 정보를 공개할 수도 있습니다. 법에서 요구하는 경우, 관리상 목적과 `서비스` 질의 유지 및 향상 등을 위하여 필요하다고 생각되는 기타 목적으로 회원 정보를 공개할 수 있습니다.</p>
            <p><span class="dbluebold">(5) 수집한 개인정보의 보유기간 및 이용기간</span><br />
            ① `회사`가 이용자들로부터 개인정보를 수집하는 경우 그 보유기간 및 이용기간은 이용자가 직접 회원 가입을 신청한 시점부터 해지하겠다는 의사 표시를 하여 해지가 처리된 시점까지로 합니다.<br />
            ② `회사`는 개인정보를 수집한 목적을 달성한 때에는 당해 개인정보를 지체없이 파기하며 `회사`로부터 개인정보를 적법하게 제공받은 제3자에 대하여도 이를 준수하도록 권고하고 있습니다. 단 다음 각호의 경우는 예외로 합니다. <br />
            ㄱ. 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우<br />
            ㄴ. 보유기간을 이용자에게 미리 고지하거나 명시한 경우 그 보유기간이 경과하지 아니한 경우<br />
            ㄷ. 개별적으로 이용자의 동의를 받은 경우</p>
            <p><span class="dbluebold">(6) 개인정보보호를 위한 기술적 대책</span><br />
            ① `회사`의 이용자 정보는 사용자 <br />
            ② 아이디와 비밀번호로 보호되고 있습니다. <br />
            ③ 사용자 정보는 본인만이 직접 관리할 수 있습니다.<br />
            ④ 정보 변경은 반드시 본인 확인 과정을 거쳐 본인만이 직접 정보를 편집할 수 있도록 시스템적으로 처리되어 있습니다. <br />
            ⑤ 비밀번호는 시스템적으로 암호화되어 보관되므로 `회사` 내부에서도 알 수 없습니다. 때문에 본인의 이름과 주민등록번호 등의 데이터를 입력하는 확인 과정을 거쳐 임시비밀번호를 발급해 드립니다. 비밀번호 관리는 세심하게 처리하여야 합니다.<br />
            ⑥ `회사` 측에서 이용자에게 전화나 메일을 통하여 비밀번호를 문의하는 경우는 없습니다. 반드시 이용자 개인의 비밀번호는 직접 관리하셔야 합니다.<br />
            ⑦ PC방이나 도서관 등과 같은 공공장소에서 컴퓨터를 이용하는 경우에는 특히 개인 정보가 유출되지 않도록 유의하시기 바랍니다. 단, 인터넷을 통한 데이터 전송은 100퍼센트 안전하지는 않습니다. <br />
            ⑧ `회사`에서 시스템적으로 최선을 다하여 보호하지만, 완벽한 보장을 해 드리기는 어렵습니다. 이용자 여러분들도 개인 정보 보호를 위하여 만전을 기하시기 바랍니다. 또한, 게시판이나 메일 주고 받기 등을 통하여 공개되는 개인 정보에 대하여는 `회사`에서 그 보호를 보장하기 어렵습니다.<br />
            ⑨ 이렇게 공개되는 정보는 제3자가 수집하여 사용할 수 있음도 염두에 두시기 바랍니다.</p>
            <p><span class="dbluebold">(7) 관리대책</span><br />
            ① `회사`는 이용자의 개인정보에 대한 접근 및 관리에 필요한 절차 등을 마련하고 있으며 개인정보를 처리하는 시스템의 사용자를 지정하여 갱신 등의 관리를 하도록 하고 있으며 직무상 알게된 개인정보를 타인에게 누설하거나 제공하지 않습니다.<br />
            ② 또한 이용자의 개인정보를 보호하기 위하여 관련 직원에게 필요한 교육을 실시하고 있고, 본 정책에 명시된 이행사항 및 관련 직원의 준수여부를 감사하기 위하여 적절한 절차를 마련하여 운영하고 있으며 감사결과 운영상의 시정 또는 개선을 요구하는 사항이나 위반내용이 있는 경우 이를 시정 또는 개선하고 기타 필요한 조치를 취하도록 최선을 다하고 있습니다.</p>
            <p>&nbsp;</p>
            <p><span class="dbluebold">(8) 쿠키(cookie)의 운영에 관한 사항</span><br />
            ① 쿠키는 최대 4KB를 넘지 않는 조그만 문자 파일입니다. <br />
            ② 쿠키를 사용하는 웹사이트에 접속했을 때 그 사이트의 프로그램은, 자동으로 만들어내는 쿠키를 이용자의 컴퓨터로 전송해서 그의 하드디스크에 저장해 둡니다. <br />
            ③ 이 내용은 필요할 때는 언제나 다시 불러서 필요한 만큼 변경한 다음 다시 저장할 수 있으며, 주로 개인의 환경이나 취향에 맞는 맞춤형 서비스 제공을 위하여 필요합니다. 이런 개인화된 서비스를 이용하려면 항상 쿠키를 허용하도록 브라우저를 처리해 두어야 합니다. <br />
            ④ `회사`는 각 개인의 환경에 적절한 서비스를 제공하기 위하여 쿠키를 사용합니다. `회사`에서 쿠키를 이용하는 경우는 다음과 같습니다.<br />
            ㄱ. 회원으로 등록하면, 처음 로그인할 때 쿠키가 설정되며, 로그아웃하면 삭제됩니다. 회원 로그인과 관련하여 쿠키가 사용되는 것은 현재 로그인 상태인지를 확인하기 위하여 사용되는 것이 일반적입니다. 회원 아이디나 비밀번호를 기억하는 경우도 있지만, 이것은 사용자의 편의를 위한 것으로 사용자들의 이용을 권장할만하지는 않습니다. 특히, 비밀번호의 경우는 외부 유출의 우려가 있으므로 기억시켜서 사용하지 않는 것이 좋습니다.<br />
            ㄴ. `회사`의 사용자 환경 설정 등에서도 쿠키를 사용합니다. 개인이 직접 선택한 검색 사용환경 값을 저장해 두었다가 사용자가 필요로 하는 환경 설정을 위하여 이 정보를 사용합니다.<br />
            ㄷ. `회사`는 등록자와 미등록자 사용자들의 사용 빈도의 차이나 반복 사용정도 등 이용자의 이용 행동에 관한 정보를 위하여 쿠키를 사용합니다. 이러한 정보를 기초로 한 타겟 광고에 사용될 수 있습니다.<br />
            ㄹ. 쿠키는 `회사`가 진행하는 이벤트, 퀴즈 잔치 등과 같은 각종 프로모션 행사 등에서 개인 정보를 확인하기 위하여 사용됩니다. 참가자의 참여 빈도수나 이후 당첨 등을 위하여 사용됩니다.<br />
            ㅁ. 쿠키는 귀하의 방문 형태 및 총체적인 방문 형태 측정을 위해서도 사용됩니다. 사용자들의 습관이나 이용 방식 등에 대한 정보 수집을 통하여 더욱 나은 서비스를 만들어가는데 기초 자료로 활용합니다. 또한 이런 정보들은 배너 및 프로모션 행사가 사용자에게 필요한 것들로 구성될 수 있도록 하는데 사용되기도 합니다. <br />
            ㅂ. `회사`에 광고를 게재하는 광고주들의 배너에서도 쿠키를 사용하는 경우도 있음을 알려드립니다. 또한 시스템 관리와 광고주에게 제공할 통계 집계 등을 위하여 이용자들의 IP 주소를 모으기도 합니다.</p>
            <p><span class="boldorange">3. 이용자의 권리 및 그 행사방법</span><br />
            <br />
            동의철회 이용자가 자신의 개인정보수집에 동의한 후, `회사`를 방문하여 이용자 ID와 비밀번호를 입력하여 동의를 철회하실 수 있으며 본 `회사`는 본인여부를 확인한 즉시 그에 따른 필요한 조치를 취하여 드립니다.<br />
            개인정보 열람, 정정 요구 이용자는 `회사`를 방문하여 이용자 ID와 비밀번호를 입력한 후, 자신의 개인정보 열람 및 정정을 요구할 수 있으며 이 경우 `회사`는 본인 여부를 확인한 즉시 그에 따른 조치를 취하며 그 오류를 정정할 때까지는 당해 개인정보를 이용하지 아니합니다. 정정조치가 취해진 경우 `회사`는 그 사실을 당해 이용자에게 지체없이 통보합니다.<br />
            <br />
            <span class="dbluebold">(1) 불만처리</span><br />
            ① `회사`는 개인정보와 관련하여 이용자의 의견을 수렴하고 불만을 처리하기 위하여 전화, 전자우편 또는 인터넷 홈페이지의 상담창구를 통하여 이용자의 불만사항을 접수, 처리하고 있습니다. 기타 불만에 대한 내용은 다음 메일 주소로 보내주시기 바랍니다.<br />
            ② 회원 불만 접수 인터넷 메일 주소 : 하단 대표 메일로 접수 바랍니다.</p>
            <p><span class="dbluebold">(2) 분쟁조정</span><br />
            ① `회사`와 이용자는 개인정보에 관한 분쟁이 있는 경우 신속하고 효과적인 분쟁해결을 위하여 한국정보보호센터 내의 개인정보분쟁조정위원회에 그 처리를 의뢰할 수 있습니다.</p>
            <p><span class="boldorange">4. 개인정보 보호정책의 개정</span><br />
            <br />
            ① `회사`는 이용자들의 사생활을 적극적, 효과적으로 보호하기 위하여 정보통신망이용촉진등에관한법률 등 모든 관련법규를 준수하고자 본 개인정보보호정책을 만들어 실천하고 있으며 이러한 정책은 관련 법률 및 정부지침의 변경과 `회사` 내부의 방침 및 사정에 따라 수시로 개정될 수 있습니다.<br />
            변경된 사항은 정기적으로 방문하셔서 내용을 확인하시기 바랍니다. <br />
            ② 만약 변경사항에 의문이 있으실 경우에는 언제라도 고객관리 담당에게 문의를 하시거나 적절한 방법으로 확인하실 수 있습니다.</p>
            <br />
            <p><span class="boldorange">5. 개인정보의 파기절차 및 방법</span><br />
            <br />
            회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다. <br />
            ① 파기절차<br />
            회원님이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어집니다.<br />
            <br />
            ② 파기방법 <br />
            - 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. <br />
            &nbsp;</p>
            <p><span class="boldorange">6. 개인정보에 관한 민원서비스</span><br />
            <br />
            회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다 <br />
            개인정보담당자성명: admin 개인정보담당자<br />
            연락처: (국번없이) <br />
            이메일: <br />
            <br />
            귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.<br />
            기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br />
            1.개인분쟁조정위원회 (www.1336.or.kr/1336)<br />
            2.정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)<br />
            3.대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600)<br />
            4.경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)<br />
            &nbsp;</p>
        </div>
      </div>
    </div>
    <footer><%- include('parts/footer') %></footer>
  </body>
</html>
