<!DOCTYPE html>
<html>
  <head>
    <%- include('parts/header') %>
  </head>
  <body>
    <%- include('parts/logoarea', {notice: notice}) %>
    <div class="container">
      <div class="item_sidebar"><%- include('parts/sidebar') %></div>
      <div class="item_divider"></div>
      <div class="item_maincontent">
        <div class="section_name item_section">
          <span class="section_big">회사소개</span>
        </div>
        <div style="font-size:16px;margin-top:50px;">
          <p><span class="dbluebold">제 1 항</span><br />
            소나무공인중개사사무소(이하 &quot;회사&quot;라 칭함)는 본 웹 사이트에 포함되어 있거나, 본 웹 사이트를 통해 배포되거나, 본 웹 사이트에 포함되어 있는 서비스로부터 링크, 다운로드, 또는 액세스되는 정보, 내용 또는 광고(총칭하여 &quot;자료&quot;)의 정확성이나 신뢰성에 대해 어떠한 보증도 하지 않을 뿐만 아니라 서비스상의, 또는 서비스와 관련된 광고, 기타 정보 또는 제안의 결과로서 디스플레이, 구매 또는 취득하게 되는 제품, 정보 또는 기타 자료(&quot;제품&quot;)의 질(부동산의 정보의 신뢰성)에 대해서도 보증을 하지 않습니다.<br />
            즉, 만약 민형사상의 사건이 발생할 시에도 회사는 책임을 지지 않습니다.<br />
            회사는 단순 정보를 매칭 시켜주는 마당의 역할을 할뿐 모든 결정의 책임은 부동산과 소비자의 관계입니다.<br />
            단지 회사에서는 더 낳은 선택을 할 수 있도록 도와주는 중개소 역할을 할 따름 입니다.</p>
            <p>&nbsp;</p>
            <p><span class="dbluebold">제 2 항</span><br />
            회사는 서비스 또는 기타 자료 및 제품과 관련하여 상품성, 특정목적에의 적합성에 대한 보증을 포함하여 모든 명시적 또는 묵시적인 보증을 부인합니다.<br />
            어떠한 경우에도 회사는 서비스, 자료 및 제품과 관련하여 직접, 간접, 부수적, 징벌적, 파생적인 손해에 대해서 책임을 지지 않습니다.<br />
            회사의 임의로 서비스나 자료의 일부분을 개선하고, 서비스나 자료상의 실수나 생략된 부분을 수정할 수 있으나 의무사항은 아닙니다.</p>
            <p>&nbsp;</p>
            <p><span class="dbluebold">제 3 항</span><br />
            회사는 인터넷 사용자들의 편의를 도모하고자, 인터넷상에 공개되어 있는 부동산 컨텐츠를 수집하여 사용자 측면에서 용이하게 파악하도록 종합, 분석, 재배치 등의 편집 및 디스플레이 작업을 수행합니다.<br />
            이 과정에서 일부 인터넷 부동산의 컨텐츠를 그대로 사용할 수 있음을 인정합니다.<br />
            그러나, 그 목적이 인터넷 사용자들의 편의를 위한 것이고, 컨텐츠의 수집, 종합, 재배치 등의 편집 및 디스플레이 과정을 통해 단순 컨텐츠의 나열보다 나은 부가가치를 제공하고, 그 출처를 명시함에 따라 타인의 권리(지적 재산권 포함)를 존중함과 동시에 해당 컨텐츠를 보유한 쇼핑몰에도 홍보 등 도움이 될 수 있다고 생각됩니다.</p>
            <p><span class="dbluebold">제 4 항</span><br />
            회사의 사용자들도 회사 및 타인의 권리를 존중해 주시기 바랍니다.<br />
            귀하의 저작물이 저작권을 침해하는 방법으로 복사되었다고 판단되시는 경우 메일로 알려주시기 바라며, 회사는 이 문제의 해결을 위해 적극 노력할 것입니다.</p>
        </div>
      </div>
    </div>
    <footer><%- include('parts/footer') %></footer>
  </body>
</html>
