<!DOCTYPE html>
<html>
	<head>
		<%- include('parts/header') %>
	</head>
	<body>
		<%- include('parts/adminnavbar') %>
		<%= user %>
		<table>
			<tr>
				<td>
					체크
				</td>
				<td>
					아이디
				</td>
			</tr>
			<% for(let i = 0 ; i < user.length ; i++) { %>
				<tr>
					<td>
						
					</td>
				</tr>
		</table>
		<footer>
			<%- include('parts/footer2') %>
		</footer>
	</body>
</html>
