<!DOCTYPE html>
<html>
	<head>
		<% include('parts/header') %>
	</head>
	<body>
		sonamu114.com
		<%= data %>
		<a href="/login">admin</a>
		<footer>
			<% include('parts/footer') %>
		</footer>
	</body>
</html>
